/* header {
  display: flex;
} */

.profile {
  background-color: black;
  color: white;
  /* padding: 10px; */
}

.li {
  list-style: none;
}

.main-visual {
  background-image: url(img/mainvisual.jpg);
  background-size: cover;
}

.about-area {
  text-align: center;
}

.main-heading {
  font-size: 30px;
  border-bottom: 1px;
  margin-bottom: 5px;
}